<!DOCTYPE html>
<html>
  <head>
    <title>$PROJECT_NAME</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <meta name="description" content="" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:title" content="$PROJECT_NAME">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://nathanielwroblewski.github.com/$PROJECT_NAME/public/images/screenshot.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="$PROJECT_NAME" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://nathanielwroblewski.github.com/$PROJECT_NAME" />
    <meta property="og:image" content="https://nathanielwroblewski.github.com/$PROJECT_NAME/public/images/screenshot.png" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="$PROJECT_NAME" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="$PROJECT_NAME">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="https://nathanielwroblewski.github.com/$PROJECT_NAME/public/images/screenshot.png">
  </head>
  <body>
    <div class="container">
      <h1 class="title">$PROJECT_NAME</h1>
      <p class="subtitle">some subtitle goes here</p>
      <section>
        <noscript>
          <p class="text">This site relies on javascript for proper operation.  Please consider enabling javascript for the full experience.
          </p>
        </noscript>
        <p class="text">
          Some description of the project goes here
        </p>
        <figure class="figure">
          <figcaption class="figure-title">
            Fig. 1: Some caption explaining this figure
          </figcaption>
          <canvas></canvas>
        </figure>
      </section>
    </div>
  </body>
  <script type="module" src="/public/javascripts/main.js"></script>
</html>
